@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

main, section, nav, footer {
  position: relative;
  z-index: 10;
}
